*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


body{
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #1f4037, #99f2c8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}



#portfolio{
    width: 90%;
    height: auto;
    background: #dfdfdf;  
    border: 2px outset gray;
    filter:drop-shadow(3px 3px 3px rgb(100, 0, 150));
    border-radius:15px ;
    animation: bd 2s infinite alternate;
}
@keyframes bd {
    0%{
       filter:drop-shadow(3px 3px 3px rgb(118, 116, 119));
    }
    25%{
        filter:drop-shadow(4px 4px 4px rgb(82, 82, 82));

    }
    50%{
        filter:drop-shadow(5px 5px 5px rgb(80, 80, 80));
    }
    75%{
        filter:drop-shadow(6px 6px 6px rgb(66, 66, 66));
    }
    100%{
        filter:drop-shadow(6px 6px 6px rgb(66, 66, 66));
    }
}

h1{
    font-size:2.0rem ;
}
h1,h3{
    color:rgb(0, 122, 106);
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
    padding: 5px;
    filter:drop-shadow(2px 2px 2px rgb(89, 151, 226));
}

figure{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

 img{
    margin-top: 20px;
    width: 12vw;
    height: auto;
    padding:7px;
    border-radius: 55%;
    border: 10px outset rgb(0, 122, 106);
    filter:drop-shadow(4px 4px 4px rgb(89, 151, 226));
    animation: upDown 2s infinite alternate;
    cursor: pointer;

}
img:hover{
    transition: 2s;
    width: 13vw;
    border: 10px inset rgba(79,209,197,1);
    filter:drop-shadow(4px 4px 4px rgb(89, 151, 226));
}
@keyframes upDown{
    from{
        transform: translateY(10px);
    }
    to{
        transform: translateY(0);
    }
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    filter:drop-shadow(4px 4px 4px rgb(89, 151, 226));
    margin-top: 50px;
    padding: 5px;
}
p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  text-align:justify;   
  padding: 20px;
}
a{
    text-decoration: none;
}
 
  .wrap {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    margin-top: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #0097A7;
    background: linear-gradient(90deg, rgb(0, 122, 106) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #ffffff;
    transform: translateY(-6px);
 
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }


